---
AWSTemplateFormatVersion: 2010-09-09
Description: Test Application
Parameters:
  pProduct:
    Type: String
  pRegion:
    Type: String
  pEnvironment:
    Type: String
  pRegionAZ1Name:
    Type: String
  pRegionAZ2Name:
    Type: String
  pMgtCIDR:
    Type: String
  pMgtVpcid:
    Type: String
  pMgtRouteTableApub:
    Type: String
  pMgtRouteTableBpub:
    Type: String
  pMgtRouteTableApri:
    Type: String
  pMgtRouteTableBpri:
    Type: String
  pVPCTenancy:
    Type: String
  pEC2KeyPair:
    Type: String
  pEC2KeyPairBastion:
    Type: String
  QuickStartS3URL:
    Type: String
  QSS3BucketName:
    Type: String
  QuickStartS3URL:
    Type: String
  QSS3KeyPrefix:
    Type: String
  pVpcid:
    Type: String
  pVpcCIDR:
    Type: String
  pSubnetApub001CIDR:
    Type: String
  pSubnetApub002CIDR:
    Type: String
  pSubnetApri001CIDR:
    Type: String
  pSubnetApri002CIDR:
    Type: String
  pSubnetApri003CIDR:
    Type: String
  pSubnetBpub001CIDR:
    Type: String
  pSubnetBpub002CIDR:
    Type: String
  pSubnetBpri001CIDR:
    Type: String
  pSubnetBpri002CIDR:
    Type: String
  pSubnetBpri003CIDR:
    Type: String
  pSecurityGroupDefault:
    Type: String
Conditions:
  IsGovCloud: !Equals [ !Ref 'AWS::Region', us-gov-west-1 ]
  # SupportsGlacier: !Equals [ !Ref pSupportsGlacier, true ]
  # EnableRDS: !Equals [ "1", "1" ]
  Disable: !Equals [ "1", "0" ]
  Enable: !Equals [ "0", "0" ]
Resources:
  sgEc2Acct:
    Type: "AWS::EC2::SecurityGroup"
    Properties: 
      GroupDescription: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, acct ] ]
      Tags: 
        - Key: Name
          Value: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, ec2, acct ] ]
      VpcId: !Ref pVpcid
  sgEc2Adm:
    Type: "AWS::EC2::SecurityGroup"
    Properties: 
      GroupDescription: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, adm ] ]
      Tags: 
        - Key: Name
          Value: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, ec2, adm ] ]
      VpcId: !Ref pVpcid
  sgEc2App:
    Type: "AWS::EC2::SecurityGroup"
    Properties: 
      GroupDescription: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, app ] ]
      Tags: 
        - Key: Name
          Value: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, ec2, app ] ]
      VpcId: !Ref pVpcid
  sgEc2Bog:
    Type: "AWS::EC2::SecurityGroup"
    Properties: 
      GroupDescription: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, bog ] ]
      Tags: 
        - Key: Name
          Value: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, ec2, bog ] ]
      VpcId: !Ref pVpcid
  sgEc2Db:
    Type: "AWS::EC2::SecurityGroup"
    Properties: 
      GroupDescription: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, db ] ]
      Tags: 
        - Key: Name
          Value: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, ec2, db ] ]
      VpcId: !Ref pVpcid
  sgEc2Idp:
    Type: "AWS::EC2::SecurityGroup"
    Properties: 
      GroupDescription: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, idp ] ]
      Tags: 
        - Key: Name
          Value: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, ec2, idp ] ]
      VpcId: !Ref pVpcid
  sgEc2Intl:
    Type: "AWS::EC2::SecurityGroup"
    Properties: 
      GroupDescription: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, intl ] ]
      Tags: 
        - Key: Name
          Value: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, ec2, intl ] ]
      VpcId: !Ref pVpcid    
  sgEc2Salt:
    Type: "AWS::EC2::SecurityGroup"
    Properties: 
      GroupDescription: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, salt ] ]
      Tags: 
        - Key: Name
          Value: !Join [ -, [ !Ref pProduct, !Ref pRegion, !Ref pEnvironment, ec2, salt ] ]
      VpcId: !Ref pVpcid
Outputs:
  pStackName:
    Value: !Ref AWS::StackName
  Help:
    Description: For assistance or questions regarding this quickstart please email tpotter@infiniticg.com
    Value: ''
