AWSTemplateFormatVersion: "2010-09-09"
Description: A sample template
Parameters:
  pNote:
    Description: desc here
    Type: String
    Default: notes
  pStackName:
    Description: stack name
    Type: String
    Default: stack notes
Resources:
  MyS3Bucket:
    Type: AWS::S3::Bucket
    BucketName: icgtestdeleteme

Outputs:
  pStackName:
    Value: !Ref: pStackName
  pNote:
    Value: !Ref: pNote